<h1><%=@contact.name%></a></h2>
<h3><%=@contact.phone%></h3>
<h3><%=@contact.email%></h3>
<h3><%=@contact.birthday%></h3>
<a href="/contacts">Home Directory</a>
<div><%= link_to "Delete Contact", "/contacts/#{@contact.id}", method: :delete %> </div>